doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel="shortcut icon" href="/static/favicon.ico")
  body
    block content
    script(src="/static/bundles/public.bundle.js")
