body {
  padding: 0;
  margin : 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Large */
.in-row {
  display : flex;
  flex-direction : row;
  align-items : flex-end;
}

/* Medium screens */
@media all and (max-width: 650px) {
  .in-row {
    flex-direction : column;
  }
}

/* Small screens */
@media all and (max-width: 500px) {

}
