doctype html
html
  head
    title= title
    if development
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    else
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/favicon.ico")
  body
    block content
    script(type="text/javascript", src="/bundle.js")
